.menus
{
    display: inline-flex;
    font-size: 45px;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    justify-content: center;
}

nav{
    justify-self: center;
}

body{
    background-color: darkcyan;
}

h1, h4{
    justify-content: center;
    font-family: "Consolas", "Courier", "Courier New", monospace;
    text-decoration: underline;
    color: #40195b;
    text-align: center;
}

.bouton{
    background-color: cadetblue;
    font-size: 18px;
    font-family: Consolas, sans-serif;
    text-decoration: none;
    display: inline-flex;
    margin-right: 25px;
    color: black;
}

a, a:visited{
    text-decoration: none;
    color: black
}

a:hover{
    text-decoration: none;
    color: bisque;
}

footer{
    margin-top: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 10px;
    right: 10px;
    padding: 5px;


    p{
        display: inline-block;
        text-decoration: none;
        background-color:cadetblue;
        margin-top: 25px;
        font-family: "Consolas", "Courier", "Courier New", monospace;
        font-weight: bolder;
    }
}

.interets{
    font-family: "Consolas", "Courier", "Courier New", monospace;
    text-decoration: none;
    color: azure;
}

hr{
    height: 5px;
    border: none;
    background-color: darkblue;
}

.paragraph{
    font-family: "Consolas", "Courier", "Courier New", monospace;
    text-decoration: none;
    color: azure;
}

.paragraph p{
    font-size: 18px;
}

h2{
    text-align: center;
    font-family: "Consolas", "Courier", "Courier New", monospace;
    text-decoration: underline;
    color: bisque;
}

.projetsScolaires li, .projetsStage li, .projetsStage2 li{
    text-decoration: none;
    justify-content: center;
    list-style-type: none;
    display: inline-flex;
}